nvim/autoload/plug.vim
nvim/.netrwhist
nvim/plugged
nvim/lua/antonk52/work.lua
nvim/spell/*
!nvim/spell/*.add

# there's more stuff, we only care for personal config
karabiner/*
!karabiner/karabiner.json

scripts/npm-completions.zsh

**/.DS_Store

zsh-autosuggestions
dependencies

git/private
