[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "tmux-tomorrow"]
	path = tmux-tomorrow
	url = https://github.com/edouard-lopez/tmux-tomorrow.git
[submodule "tmux-inactive-panes"]
	path = tmux-inactive-panes
	url = https://github.com/jtbairdsr/tmux-inactive-panes.git
