snippet table
| First Header  | Second Header |
| ------------- | ------------- |
| Content Cell  | Content Cell  |
| Content Cell  | Content Cell  |
endsnippet

snippet link
[${1:text}](${2:url})
endsnippet

snippet img
![${1:alt}](${2:url})
endsnippet

snippet details
<details><summary>${1:tldr}</summmary>
${2:body}
</details>
endsnippet
