snippet fun "function" b
fun! ${1:Function_name}($2)
    ${3:body}
endf
endsnippet

snippet if "if statement" b
if ${1:condition}
    ${3:body}
endif
endsnippet

snippet autocmd "auto command" b
autocmd ${1:Event} ${2:pattern} ${3:++once} ${4:++nested} ${5:YOUR_COMMAND_HERE}
endsnippet
